<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-content>
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title class="ion-text-center">Editar Perfil</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-item>
        <ion-label position="floating">Nome completo</ion-label>
        <ion-input type="text"  required [(ngModel)]="name"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"  required [(ngModel)]="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel"  required [(ngModel)]="phone"></ion-input>
      </ion-item>
   
   
      <ion-button expand="block" shape="round" color="medium" (click)="atualizarPerfil()">Atualizar Perfil</ion-button>
    </ion-content>
  
</ion-content>
