<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-post']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list lines="none">
    <ion-item-sliding >
      
      <ion-button expand="block" shape = "round" (click)="gotoProfile()">profile</ion-button>
     
      <ion-button expand="block" shape = "round" (click)="logout()">profile</ion-button>

      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/editar-post/']">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
